// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';
$bootstrap-icons-font-dir: '~bootstrap-icons/font/fonts';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

.features-body {
  max-height: 300px;
}

.project-container {
  overflow: hidden;
}

.projectsElement,
.features-body > .card {
  cursor: pointer;
}

.badge.edit-isCompleted {
  cursor: pointer;
}

.task-card {
  max-width: 350px;
}
